body {
    background-color: rgb(222, 226, 227);
}

nav {
    background-color: #e50303;
    padding: 15px 0;
    box-shadow: 0px 8px 16px 0px rgba(252, 252, 252, 0.2);
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative; /* Necessário para o posicionamento do dropdown */
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: block; /* Torna o link clicável em toda a área */
    transition: color 0.3s;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover {
    color: #000000;
}

/* Estilo do dropdown */
nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse sobre o submenu */
}

/* Exibe o submenu ao passar o mouse sobre o item principal */
nav ul li:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: space-around; /* ou space-between, center */
    flex-wrap: wrap; /* para quebrar linhas em telas menores */
}
.card {
    background-color: rgb(255, 255, 255);
   
    border: 1px solid #e04d4d;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
}


.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    display: flex;
}


.card p {
    color: #666;
}

.figura{
    width: 300px;
    height: 200px;
}
